@import './style.scss';

.dashboard-container {
    margin: 48px 35px;
}

.main-area-container {
    padding: 48px 35px;
}

.shelf-color {
    color: $primary-color;
}

.category-link {
    font-size: 20px !important;
}

.max-rating {
    color: $base-color;
}

@media only screen and (max-width: 1332px) {
    .category-link {
        font-size: 16px !important;
    }
}