@import './style.scss';

.dashboard-container {
    margin: 48px 35px;
}

.main-area-container {
    padding: 48px 35px;
}

.shelf-color {
    color: $primary-color;
}

.category-link {
    font-size: 20px !important;
}

.max-rating {
    color: $base-color;
}

.card {
    max-width: 308px !important;
}


.card img {
    max-width: 123px;
    width: auto;
    min-height: 170px ;
    object-fit: cover;
}

@media only screen and (max-width: 1442px) {
    .category-link {
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 1250px) {
    .category-link {
        font-size: 12px !important;
    }
}