@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$base-color: #4D4D4D;
$primary-color: #FA7C54;

@import "/node_modules/bootstrap/scss/bootstrap";

.btn-primary {
    @include button-variant($primary-color, darken($primary-color, 7.5%), white, lighten($primary-color,5%), lighten($primary-color, 10%), white);
}

.btn-secondary {
    @include button-variant($base-color, darken($base-color, 7.5%), white, lighten($base-color,5%), lighten($base-color, 10%), white);
}

.btn-outline-primary {
    @include button-outline-variant($primary-color, white, lighten($primary-color,5%), $primary-color);
}


:root {
  font-family: Inter, sans-serif;
}

.base-color {
	color: $base-color !important;
}

.link-dark {
	color: #8A8A8A !important;
}

.link-active {
	color: $base-color !important;
	font-weight: 600 !important;
}

.bg-secondary-color {
	background: #F3F3F7;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

