@import '../../assets/scss/style.scss';


.btn-block {
    width: 100%;
}
.btn-lg {
    height: 48px;
}

.btn-glow {
      transition: all 0.2s ease-in-out;
}

.btn-glow:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 15px $primary-color;
}